body{
    background-image: url("assets/backgroundLp.png");
    background-size: cover;
}

.img-fluid{
    width: 200px;
}

.card{
    background-color: #131212f1;
}

.form-check-label{
    color: #fff;
}

.gitLink{
    color: #fff;
    text-decoration: none;
    transition: 0.4s linear;
}

.gitLink:hover{
    color: #ff0043;
}